.addcartbtn{
    background-color: #ff9f00;
    width: 100px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: white;
}
.addcartbtn1{
    background-color: #f9ce89;
    width: 100px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: white;
}